body{
    background-color: #f8f9fa;

}
.hide {
    display: none;
}

#form{
    width: 50%;
}

@media screen and (max-width: 800px) {
    #form{
        width: 100%;
        padding: 1px;
    }
}
    

@media screen and (max-width: 390px) {

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
}

@media screen and (max-width: 440px) {
    #cardfoot {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
    


.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    
   
}

.card{
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 1px 0 rgba(0, 0, 0, 0.12);

}
.date{
    font-size: 15px;
    color:  #6c757d;
}

.noteCard:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 15px 0 rgba(0, 0, 0, 0.12);
  }

  #cardfoot{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
    /* sticky: bottom; */
  }

  #logo{
    width: 50px;
    height: 50px;
    margin: 10px;
  }

  #content{
    margin-top: 0;
    margin-bottom: 4rem;
  }