.hide {
    display: none;
}

@media screen and (max-width: 550px) {

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}