body{
    background-color: #f8f9fa;

}
.hide {
    display: none;
}

@media screen and (max-width: 550px) {

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
}

@media screen and (max-width: 440px) {
    #cardfoot {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
    


.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card{
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 1px 0 rgba(0, 0, 0, 0.12);

}
.date{
    font-size: 15px;
    color:  #6c757d;
}

.noteCard:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 15px 0 rgba(0, 0, 0, 0.12);
  }

  #cardfoot{
    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* justify-content: center; */
    width: 100%;
    bottom: 0;
    padding: 10px;
  }